.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}
@media(max-width:640px) {
  .container{
    margin-left: 2px;
    margin-right: 2px;
  }
  
}